{% extends "layout.html" %}
{% block body %}
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title">List of people</div>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width:250px">Name</th>
            <th>Photos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>The Shawshank Redemption</td>
            <td>Crime, Drama</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
      Add more people
    </div>
  </div>
{% endblock %}